header {
  background-color: grey;
  color:black;
  padding: 50px;
}
}
.ugly {
  background-color:white;
  border-top: 10px;
  border-style: solid;
  border-color: blue;
}
.beautiful {
  background: transparent;
  border: 2px solid blue;
  border-radius: 10px;
  padding: 10px;
  text-align: left;
  transition: all 3s ease;
}
.beautiful:hover {
  transform: scale(2) rotate(-45deg);
  border:2px solid white;
}
.ugly, .beautiful, button {
  width: 75px;

}
button > span {
  font-size: 20px;
}


body {
  background-color:white;
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  background-image: url("../img/skyline.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.title {
  text-align: center;
  font-style: italic;
  font-family: "Times New Roman" ,times;
  font-size: 50px;
}
main {
  text-align: right;
}

.big-font {
  font-size: 5vw;
  text-align:right;
}
.floated {
  float:right;
  width:150px;
}
.floats {
  float: right;
  padding-left: 20px;
}
.cub {
  float:left;
}
.author {
font-family: "Times New Roman";
font-style: italic;
color:grey;
font-size: 2vw;
}
table {
  border: 1px solid black;
  width:600px;
  margin:0 auto;
}

tr > td:first-child {
  text-align:right;
}
tr > td:last-child {
  text-align:left;
}
td {
  padding:20px;
}
.me_pic {
  width:350px;
  border-radius: 50%;
  margin-bottom: 50px;
}
